---
title: Get involved!
layout: base
---

%h2 Open Source

%p Peregrine is Open Source <a href="http://bitbucket.org/burtonator/peregrine/overview">and hosted at Bitbucket</a>. We also have a <a href="https://groups.google.com/d/forum/peregrine-mapreduce">Google Group</a> for the topics that need a broader discussion.

%h3 Report a bug

%p Found a bug? Browse <a href="http://bitbucket.org/burtonator/peregrine/issues?status=new&status=open">our issue tracker</a> and file an issue if it was not reported before. Get back and let us know if it's fixed.

