---
title: Roadmap
layout: base
---

%h2 Roadmap

%p Peregrine was created to optimally handle iterative and graph computation for which other map reduce frameworks such as Hadoop were non-optimal.

%p Specifically, the design of Peregrine is setup to fasciliate evential implementation of a <a href="http://googleresearch.blogspot.com/2009/06/large-scale-graph-computing-at-google.html">Pregel</a> style graph computation framework as well as <a href="http://dl.acm.org/citation.cfm?id=1806638">FlumeJava</a> style pipeline and optimizer framework.  (Interestingly enough the author was already working on similar frameworks but via convergent evolution these ideas are better documented via these papers).

%p Further, a domain specific language similar to <a href="http://pig.apache.org/">Pig</a> and <a href="http://research.google.com/archive/sawzall.html">Sawzall</a> is also being considered to democratize access to these types of resources.  Making the runtime Java-only limits the potential audience and this framework can also be <b>very</b> useful for other types of developers including operations.

%h2 Contributors

%p <a href="http://spinn3r.com"><img src="http://spinn3r.com/images/spinn3r.v01.jpg" style="float: right; position: relative; top: -20px; margin-left: 10px; "/></a>Peregrine is developed at <a href="http://spinn3r.com">Spinn3r</a> for use with our blog and social media crawler.  We use it for machine learning and other IR tasks where performance is paramount.

%h2 The Peregrine Falcon

%p Peregrine was named after the <a href="http://en.wikipedia.org/wiki/Peregrine_Falcon">Peregrine Falcon</a> due to the author's love of the bird as well as his interest in science and nature.

%p The Peregrine is the fastest animal in the world: "The Peregrine is renowned for its speed, reaching over 325 km/h (202 mph) during its characteristic hunting stoop (high speed dive), making it the fastest member of the animal kingdom.

%p The Peregrine Falcon represents exactly what we're trying to accomplish with Peregrine.  We want to be the fastest MR implementation but at the same time remain small, agile, elegant, and beautiful.

%p <iframe width="100%" height="500" src="http://www.youtube.com/embed/j3mTPEuFcWk" frameborder="0" allowfullscreen></iframe>
