body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 200;
}

body, td, th {
  font-size: 14px;
}

p { 
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
  line-height: 1.4em;
}

th {
  text-align: left;
}

td, th {
  white-space:nowrap;
  padding: 3px;
}

blockquote { 

  border-left-style:solid;
  border-left-width:2px;
  border-left-color: #c6c6c6;

  padding-left: 5px;

}

.state-submitted {
    background-color: white;
}

.state-failed,
.state-completed,
.state-executing,
.state-submitted {
   width: 1em;
}

.state-submitted {
    background-color: purple;
}

.state-executing {
    background-color: grey;
}

.state-failed {
    background-color: red;
}

.state-completed {
    background-color: green;
}

.job-metric {
    text-align: right;
    width: 70px;
}

.job-path {
    margin-left: 10px;
}

table { 
  border-spacing:0;
  border-collapse:collapse;
}

tr:hover {
  background: #c6c6c6;
}

tr th {
  background: white;
}

.batch-progress {
  width: 300px;
}
