
<html>
<head>

<!-- http://1.bp.blogspot.com/-WW9buc_R518/T7P_EQ4GK3I/AAAAAAAAAVY/VcusxtWplu4/s1600/ambrose-full.png -->

<style>

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

p { 
   font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
   line-height: 1.4em;
}

th {
    text-align: left;
}

blockquote { 

  border-left-style:solid;
  border-left-width:2px;
  border-left-color: #c6c6c6;

  padding-left: 5px;

}

.state-submitted {
    background-color: white;
}

.state-failed,
.state-completed,
.state-executing,
.state-submitted {
   width: 1em;
}

.state-submitted {
    background-color: purple;
}

.state-executing {
    background-color: grey;
}

.state-failed {
    background-color: red;
}

.state-completed {
    background-color: green;
}

.job-metric {
    text-align: right;
    width: 70px;
}

.job-path {
    margin-left: 10px;
}

table { 
  border-spacing:0;
  border-collapse:collapse;
}

tr:hover {
  background: #c6c6c6;
}

tr th {
  background: white;
}

.batch-progress {
  width: 300px;
}

</style>

</head>

#macro(show_batch $items $identifier)

    #if( $items.size() > 0 )

    <table width="100%">

    <tr>
    <th></th>
    <th>name</th>
    <th>identifier</th>
    <th>duration</th>
    <th>nr jobs</th>
    <th>completed</th>
    <th>state</th>
    <th>start</th>
    <th>end</th>

    </tr>

    #foreach( $batch in $items )

        #if ( $batch )
    
            #if ( ! $identifier || $batch.Identifier == $identifier ) 

                #set( $nr_complete_jobs = 0)

                #foreach( $job in $batch.Jobs )

                    #if( $job.State == "completed" )
                        #set( $nr_complete_jobs = $nr_complete_jobs + 1 )
                    #end

                #end

                <tr>
                <td class='state-$batch.state'></td>
                <td>$batch.Name</td>
                <td><a href="?batch=$batch.Identifier">$batch.Identifier</a></td>
                <td>$batch.getDurationFormatted()</td>
                <td>$batch.getJobs().size()</td>
                <td>$nr_complete_jobs</td>
                <td>$batch.State</td>
                <td>$batch.Start</td>
                <td>$batch.End</td>
                </tr>

                #end

            #end

        #end

    </table>

    #end
    
#end    

<body>

#set( $batches = [$controller.executing ] )

<!--

TODO: Is there a better way to build a list?

$batches.addAll( $controller.getHistory() )
$batches.addAll( $controller.getPending() )
-->
    
<img src="http://peregrine_mapreduce.bitbucket.org/images/peregrine-logo-header3.png"
     align="right"
     width="407"
     height="99">

<p>
<a href="/">home</a>
<a href="?cluster=1">cluster</a>
<a href="?config=1">config</a>
</p>

<h1>Controller on $config.Host</h1>

<!-- <b>Online since: $controller.Started</b> -->

#if( $params.containsKey( 'batch' ) )

    #foreach( $batch in $batches )

        #if( $batch && $batch.Identifier == $params['batch'] )

            <h2>Batch $batch.Name</h2>

            <!--
            <table>
                <tr><td><b>Name:</b></td><td>$batch.Name</td></tr>
                <tr><td><b>Identifier:</b></td><td>$batch.Identifier</td></tr>
                <tr><td><b>State:</b></td><td>$batch.State</td></tr>
            </table>
            -->
            <p>
            <table>
              <tr><td><b>Progress: </b></td><td><progress class="batch-progress" value="$batch.Progress" max="100"></progress> $batch.Progress%</td></tr>
            </table>
            </p>

            #show_batch( $batches $params['batch'] )

            #if( $batch.Cause )
            
                <b>Cause:</b><br/>
                <blockquote>
                <pre>$batch.Cause</pre>
                </blockquote>

            #end

            <table width="100%">

            <tr>
            <th></th>
            <th>state</th>
            <th>operation</th>
            <th>duration</th>
            <th>delegate</th>
            <th class="job-metric">consumed</th>
            <th class="job-metric">emitted</th>
            <th>description</th>
            </tr>

            <hr/>
            
            #foreach( $job in $batch.Jobs )

            <tr>
            <td class='state-$job.state'></td>
            <td>$job.state</td>
            <td>$job.operation</td>
            <td>$job.getDurationFormatted()</td>
            <td><a href='?batch=$batch.identifier&job=$job.identifier'>$job.delegate.name</a></td>
            <td class="job-metric">$job.getReport().getConsumed().getFormatted()</td>
            <td class="job-metric" title="$job.getReport().getEmitted().getFormattedBytes()">$job.getReport().getEmitted().getFormatted()</td>
            <td>$job.description</td>
            </tr>

            #if( $params['job'] == $job.identifier)
                #set( $show_job = $job )
            #end

            #end

            </table>

            #if ( $show_job )

            <hr/>

            <h3>Job $show_job.identifier</h3>

            <table>
              <tr><td><b>Operation: </b></td><td>$show_job.operation</td></tr>
              <tr><td><b>Delegate: </b></td><td>$show_job.delegate.name</td></tr>
              <!-- <tr><td><b>Combiner: </b></td><td>$show_job.combiner</td></tr> -->
            </table>
            
            <p>
            <b>Input:</b>
            </p>

            #foreach( $name in $show_job.input.references )
                <div class="job-path">$name</div>
            #end
            
            <p>
            <b>Output:</b>
            </p>

            #foreach( $name in $show_job.output.references )
                <div class="job-path">$name</div>
            #end

            #end
            
        #end
    
    #end

#elseif ( $params.containsKey( 'cluster' ) )

    <h2>Cluster</h2>

    <h3>Online Hosts</h3>

    #foreach( $host in $controller.ClusterState.Online.values() )
        $host<br/>
    #end

    <h3>Offline Hosts</h3>

    #foreach( $host in $controller.ClusterState.Offline.values() )
        $host<br/>
    #end

#elseif ( $params.containsKey( 'config' ) )

    <h2>Config</h2>

    <table>
    #foreach( $key in $config.getStructMap().getKeys() )
        <tr>
          <td><b>$key</b></td>
          <td>$config.getStructMap().getString( $key )</td>
        </tr>
    #end
    </table>
            
#else

    <h2>Pending:</h2>

    #show_batch( $controller.pending )

    <h2>Executing:</h2>

    #set( $executing = $controller.executing )

    #if ( $executing )
        #show_batch( [ $executing ] )
    #end

    <h2>History:</h2>

    #show_batch( $controller.history )

#end

</body>
</html>
